@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Tint&family=New+Amsterdam&display=swap');


.card {
    background-image: url("https://i.pinimg.com/originals/0c/bf/2f/0cbf2f5c3fb37d033c0bc791ae196dbb.gif");
    background-color: rgba(255, 255, 0, 0.322);
}

.text {
    font-family: "Barlow Condensed";
    font-size: 1.25rem;
}

.textCategory {
    font-family: "New Amsterdam";
    font-size: 1.25rem;
}

.textPerson {
    font-family: "Bungee Tint";
}

.fondo-home{
    background-image: url("https://i.pinimg.com/originals/0c/bf/2f/0cbf2f5c3fb37d033c0bc791ae196dbb.gif");
}